@media screen and (max-width: 1015px) {
    .header__search {

        width: auto !important;
        display: none;
    }

}

@media screen and (min-width: 1016px) and (max-width: 1140px) {
    .header__search {
        width: auto !important;
        display: none;
    }

}


@media (max-width: 924px) {
    .content__footer .button__footer button {
        font-size: 15px;
        font-weight: bold;
        padding: 8% 9px;
        margin: 3px;

    }
}